.entry {
    width: 100px;
    height: 100%;
    margin: 0 1px;
    float: left;
    position: absolute;
    overflow: hidden;
}

.entry-title {
    font-size: 14px;
    font-weight: bold;
}

.entry-times {
    position: absolute;
    bottom: 0px;

    @import url('https://fonts.googleapis.com/css?family=Roboto');
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.entry-title, .entry-times {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    box-sizing: border-box;
    padding: 10px;
}