.day {
    height: 99px;
    margin: 1px 0;
    padding: 10px 0;
    box-sizing: border-box;
    border-bottom: solid 1px #c0c0c0;
    background: #2e4172;
}

.day:nth-child(1n) {
    border-top: solid 1px #c0c0c0;
}

.day-title {
    color: #eeeeee;
    margin-top: 24px;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    width: 10%;
    float: left;
}

.entries {
    width: 90%;
    position: relative;
    float: left;
}